{% extends "fleet/base.html" %}

{% block content %}
<div class="container mt-1">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'fleet:home' %}" class="text-white">
            <strong>Home</strong></a>
        </li>
        <li class="breadcrumb-item active text-white" aria-current="page">
            <a href="{% url 'fleet:net-list' %}" class="text-white"><strong>Nets</strong></a>
        </li>
          <li class="breadcrumb-item active text-white" aria-current="page">
            <a href="{% url 'fleet:net-detail' net.pk %}" class="text-white"><strong>{{ net.pk }}</strong></a>
        </li>
        <li class="breadcrumb-item active text-white" aria-current="page">raw data</li>
      </ol>
    </nav>

    <div class="card bg-dark text-white">
        <div class="card-body">
            <code class="text-white">
                <strong>ID: {{ net.id }}</strong><br/>
                <strong>Fisherman:</strong> <a class="text-white" href="{% url 'fleet:fisherman-detail' net.fisherman.slug %}">{{ net.fisherman }}</a><br/>
                <strong>Status:</strong>{% include 'fleet/net/status.html' %}<br/>
                <strong>Deployed At:</strong> {{ net.deployed_at |date:'Y-m-d H:i' }}<br/>
                <strong>Time in Water:</strong> {{ net.time_in_water }}s<br/>

                {% if net.status == "DAMAGED" %}
                    <br/><strong>Problem:</strong><br/>
                    <code>{{ net.problem }}</code>
                {% endif %}

            </code>
        </div>
    </div>

    <div class="card bg-dark text-white mt-2">
        <div class="card-body">
            <h5 class="card-title">Fishing Info</h5>
            <pre class="text-white"><code>{{ net.fishing_info }}</code></pre>
        </div>
    </div>

</div>
{% endblock %}
